<%= form_for(@entry) do |f| %>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author, size: 50%>
  </p>
  <p>
    <%= label_tag :photo_url, "Photo"  %><br />
    <%= f.text_field :photo_url, size: 50%>
  </p>
  <p>
    <%= f.label :caption %><br />
    <%= f.text_field :caption, size: 50%>
  </p>
  <p>
    <%= label_tag :date_taken, "Date" %><br />
    <%= f.text_field :date_taken, type: 'date'%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
